.page {
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.searchContainer{
  padding: 25px 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.results {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border-radius: 3px;
  background-color: grey;
  padding: 10px;
}

.thumbnail img {
  width: 150px;
}
